{% extends "base_template.html" %}
{% block header %}
  <link rel="stylesheet" href="{{ url_for("static", filename="codemirror/codemirror.css" ) }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="codemirror/material.css" ) }}">
  <script src="{{ url_for('static', filename="codemirror/codemirror.js" )}}"></script>
  <script src="{{ url_for('static', filename="codemirror/python.js" )}}"></script>
  {{ codemirror.include_codemirror() }}
{% endblock %}
{% block content %}
  <form method="POST">
    <div style="margin:1%">
      {{  editor_area.csrf_token }}
      {{  editor_area.source_code }}
    </div>
    <div class="btn-group" style="margin-left:1%">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Compilador
      </button>
      <ul class="dropdown-menu">
        <li><input class="dropdown-item" name="compilar" value="Compilar" type="submit"></li>
        <li><hr class="dropdown-divider"></li>
        <li><input class="dropdown-item" name="opt_mirilla" value="Optimizar por Mirilla" type="submit"></li>
        <li><input class="dropdown-item" name="opt_bloques" value="Optimizar por Bloques" type="submit"></li>
      </ul>
    </div>
    <script>
      let value = "";
      let editor1 = CodeMirror(document.querySelector('#editor-div'), {
        lineNumbers: true,
        tabSize: 2,
        value: '{{input}}',
        mode: 'python',
        theme: 'material'
      });

      editor1.on('changes', () => {
        value = editor1.getValue();
        console.log(value);
      });
    </script>
  </form>

  <h2 style="margin-left:1%">Tabla de Simbolos</h2>
  <h2 style="margin-left:1%">Tabla de Errores</h2>
  <h2 style="margin-left:1%">Tabla de Optimizacion</h2>
{% endblock %}
