{% extends "base_template.html" %}
{% block header %}
  <link rel="stylesheet" href="{{ url_for("static", filename="codemirror/codemirror.css" ) }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="codemirror/material.css" ) }}">
  <script src="{{ url_for('static', filename="codemirror/codemirror.js" )}}"></script>
  <script src="{{ url_for('static', filename="codemirror/python.js" )}}"></script>
  {{ codemirror.include_codemirror() }}
{% endblock %}
{% block content %}
  <form method="POST">
    <div style="margin:1%">
      {{  editor_area.csrf_token }}
      {{  editor_area.source_code }}
    </div>
    <div class="btn-group" style="margin-left:1%">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Compilador
      </button>
      <ul class="dropdown-menu">
        <li><input class="dropdown-item" name="compilar" value="Compilar" type="submit"></li>
        <li><hr class="dropdown-divider"></li>
        <li><input class="dropdown-item" name="opt_mirilla" value="Optimizar por Mirilla" type="submit"></li>
        <li><input class="dropdown-item" name="opt_bloques" value="Optimizar por Bloques" type="submit"></li>
      </ul>
    </div>
  </form>
  <form method="post">
    <div style="margin:1%">
      <h4>C3D Output:</h4>
      {{  c3d_area.csrf_token }}
      {{  c3d_area.source_code }}
    </div>
  </form>
  <h2 style="margin-left:1%">Tabla de Simbolos</h2>
  <table border="2" style="width: 98%;margin-left: 1%;">
    <tr>
      <th>Identificador</th>
      <th>Tipo</th>
      <th>Linea</th>
      <th>Columna</th>
    </tr>
    {%for i in range(0,length)%}
    <tr>
      <td>{{tabla_simbolos[i][0]}}</td>
      <td>{{tabla_simbolos[i][1]}}</td>
      <td>{{tabla_simbolos[i][2]}}</td>
      <td>{{tabla_simbolos[i][3]}}</td>
    </tr>
    {%endfor%}
  </table>
  <form method="post">
    <div style="margin:1%">
      <h4>AST:</h4>
      {{  ast_area.csrf_token }}
      {{  ast_area.source_code }}
    </div>
  </form>
  <h2 style="margin-left:1%">Tabla de Errores</h2>
  <h2 style="margin-left:1%">Tabla de Optimizacion</h2>
{% endblock %}
